**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
crash.log
crash.*.log
generated/

infra/terraform.tfvars
argocd-classic/
argocd-externalsecretoperator/
argocd-helm/
argocd-opentelemetry/
argocd-sealedsecrel/
credentials/

notes.md
cosign/
docs/superpowers/*